<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    Usuario u = JsonConvert.DeserializeObject<Usuario>
        (Context.Session.GetString("user").ToString());
}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/publicacao.css">
    <title>Publicação</title>
</head>

<body>

    <div class="conteiner">

        <div class="titulo">
            <p>PUBLICAÇÃO</p>
            <hr>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div class="container">

                <div class="cl-1">

                    <div>
                        <input type="text" name="desc" placeholder="DESCRIÇÃO">
                    </div>

                    <div>
                        <input type="file" name="arquivo">
                    </div>

                </div>

                <div class="cl-2">

                    <div>
                        <input value="@u.Doc" name="doc_user" />
                        <label for="tipo" class="tipo">SELECIONE A CATEGORIA:</label>

                        <select name="tag" id="tipo">
                            <option>Selecione</option>
                            <option value="Tecnologia">Tecnologia</option>
                            <option value="Ciencia">Ciencia</option>
                            <option value="Educacao">Educação</option>
                        </select>
                    </div>

                    <button type="submit">
                        PUBLICAR
                    </button>
                </div>
            </div>
            
        </form>

    </div>

</body>

</html>